$head-textsize: 20px;
$title-textsize: 33px;
$subtitle_pc_textsize: 32px;
$subtitle-textsize: 28px;
$subsubtitle-textsize: 24px;
$content_pc_textsize: 18px;
$content-textsize: 16px;
$content-pc-subtextsize: 14px;
$content-subtextsize: 12px;
$content-pc-subsubtextsize: 12px;
$content-subsubtextsize: 10px;
$activity-textsize: 22px;
$activity-content-pc-textsize: 20px;
$activity-content-textsize: 18px;
$head-fontcolor: #fff;
$strong-fontcolor: #ee0044;
$title-fontfamily: 'Courier New';
$content_fontfamily: 'Century';
$content_act_fontfamily: 'serif';

.container {
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  /*text-align: center;*/
  flex-direction: column;
}

//初めの100vh
#first-page {
  height: 100vh;
  position: relative;
  background-image: url('~@/assets/images/wakki.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.bg-mask {
  background: rgba(0, 0, 0, 0.3);
}

#head {
  //position:fixed;
  font-family: 'Century';
  width: 30vw;
  height: 7vh;

  p {
    color: $head-fontcolor;
    font-size: $head-textsize;
  }
}

#title {
  height: 93vh;
  padding: 10px;

  p {
    padding-top: 40%;
    color: $head-fontcolor;
    margin: auto;
    font-size: $title-textsize;
  }
}

.arrow {
  width: 100%;
  height: 20vh;
  z-index: 3;

  i {
    width: 100%;
    height: 100%;
  }
}

//fixedなmenu-box
#menu-box {
  position: fixed;
  right: 10px;
  padding: 0 5px;
  bottom: 20px;
  z-index: 100;
  background: rgba(255, 255, 255, 0.3);

  li {
    padding: 3px 0;
    margin-left: 0;
    list-style-type: none;
    font-family: $title-fontfamily;
  }

  a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }

  a:hover {
    font-weight: bold;
  }

  @media only screen and (min-device-width: 750px) {
    //PC対応
    font-size: $subsubtitle-textsize;
    margin-right: 20px;
  }
}

//introduction↓

#introduction {
  @media only screen and (max-device-width: 750px) {
    //スマホ対応
    margin-top: 7vh;
  }
  @media only screen and (min-device-width: 750px) {
    //PC対応
    margin: 7vh 18vw 7vh 18vw;
  }
}

//スマホ対応
.subtitle {
  font-size: $subtitle-textsize;
  font-family: $title-fontfamily;
  text-align: center;
  font-weight: bold;
  border-bottom: solid #000 1px;
}

.content_of_intro {
  padding-top: 3px;
  padding-left: 5px;
  font-size: $content-textsize;
  font-family: $content_fontfamily;
  font-weight: bold;
}

.name_of_intro {
  padding-left: 3px;
  padding-top: 10px;
  font-size: $subtitle-textsize;
  font-family: $content_fontfamily;
  font-weight: bold;
}

.timeline {
  font-size: $content_textsize;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;

  .timeline-list {
    position: relative;
    border-left: solid 1px #000;
  }

  .timeline-marker {
    position: absolute;
    background: #dbdbdb;
    border: 1px solid #dbdbdb;
    border-radius: 100%;
    content: '';
    display: block;
    height: 12px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 12px;
  }

  .timeline-item {
    padding: 1em 0 3em 2.3em;

    .flexbox {
      display: flex;
      flex-direction: column;
    }

    .timeline-item-duration {
      font-size: $content-subsubtextsize;
      color: #95999c;
      //padding-left: 2em;
      padding-top: 0.8em;
    }

    img {
      width: 2em;
    }

    .event_title {
      //position: absolute;
      //left: 5em;
      //top: 1.4em;
    }

    .event_content {
      font-size: $content-subtextsize;
      padding: 2em 0 0 3em;
      white-space: pre-line;

      a {
        color: #000;
      }
    }
  }

  .year {
    position: absolute;
    background-color: $strong-fontcolor;
    transform: translateX(-50%);
    z-index: 2;
    color: #fff;
    padding: 0.4em;
    border-radius: 5px;
  }

  @media only screen and (min-device-width: 750px) {
    //PC対応
    font-size: $content_pc_textsize;
    .timeline-item {
      .timeline-item-duration {
        font-size: $content-pc-subsubtextsize;
      }

      .event_content {
        font-size: $content-pc-subtextsize;
      }
    }
  }
}

//Activity
.image {
  margin-top: 7vh;
  width: 100%;
  z-index: 2;
  margin-right: 0;
  margin-left: 0;
  background: #fadbda;

  img {
    display: block;
    margin: auto;
    height: auto;
    width: 40%;
  }
}

#activity {
  margin-top: 5vh;

  @media only screen and (min-device-width: 750px) {
    //PC対応
    margin: 7vh 18vw 7vh 18vw;
  }
}

.list_activities {
  margin-bottom: 10vh;
}

.list_activities a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
}

.activity_title {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 8px #95999c;
  border-radius: 8px;
  padding: 3em;

  img {
    display: block;
  }

  .activity_title_name {
    @media only screen and (min-device-width: 750px) {
      //PC対応
      font-size: 45px;
    }
    font-size: 30px;
    flex-grow: 3;
    margin: auto;

    p {
      margin: auto;
      text-align: center;
      color: #000;
      text-decoration: none;
    }
  }
}

.activity_content {
  padding: 0 5%;

  .activity_content_date {
    display: flex;
    flex-direction: row;
    margin-top: 3%;

    .activity_position {
      font-size: $activity-textsize;
      font-weight: bold;
      flex-grow: 1;
    }

    .activity_period {
      color: #95999c;
      flex-grow: 5;
      padding-top: 0.5%;
    }
  }

  .activity_content_explanation {
    margin-top: 5%;
    font-size: $activity-content-textsize;
    color: #95999c;
    @media only screen and (min-device-width: 750px) {
      //PC対応
      font-size: $activity-content-pc-textsize;
    }
  }

  .activity_achievment {
    margin-top: 3%;
    color: #95999c;

    div {
      font-size: $activity-content-textsize;
      text-decoration: underline;
    }

    p {
      font-size: $content-textsize;
      margin-top: 1%;
    }
  }
}

#product {
  margin-top: 5vh;
  @media only screen and (min-device-width: 750px) {
    //PC対応
    margin: 7vh 18vw 7vh 18vw;
  }
}

.products_list_items {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 70vw;
  height: 40%;
  margin: 5vh auto;
  box-shadow: 0 0 8px #95999c;
  border-radius: 8px;
  padding-bottom: 10px;
  @media only screen and (min-device-width: 750px) {
    //PC対応
    width: 50vw;
  }

  img {
    display: block;
    height: auto;
    width: 30vw;
    margin: auto;
  }

  .items_title {
    font-size: $head-textsize;
    font-family: $content_fontfamily;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
  }

  .items_contents {
    padding: 10px 20px 5px 20px;
    text-align: center;
  }

  .items_lang {
    text-align: center;
    padding-top: 5px;
  }

  a {
    text-decoration: none;
  }
}

.design_list {
  display: grid;
  width: 70vw;
  margin: 5vh auto;
  grid-template-columns: 30vw 30vw;

  @media only screen and (max-device-width: 750px) { //スマホ対応
    display: flex;
    flex-direction: column;
  }
}

.design_list_items {
  margin: 1em;

  &--image {
    position: relative;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  &--image__caption {
    opacity: 0;
    color: #fff;
    background: #333;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 1em;
  }

  &--image:hover &--image__caption {
    opacity: 1;
    transition: 0.5s;
  }

  @media only screen and (max-device-width: 750px) { //スマホ対応
    margin: 3px;
  }
}

#contact {
  margin-top: 5vh;
  @media only screen and (min-device-width: 750px) {
    //PC対応
    margin: 7vh 18vw 7vh 18vw;
  }
}

.contact_list {
  margin-top: 3vh;
  list-style-type: none;
  padding: 0;

  @media only screen and (min-device-width: 750px) {
    //PC対応
    margin-top: 15vh;
  }

  .contact_list_item {
    float: left;
    width: 16.6%;
    padding: 0 auto 0 auto;
    text-align: center;

    a {
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #000;
      cursor: pointer;
    }

    img {
      width: 40pt;
      height: 40pt;
    }
  }
}

#mailaccount {
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 15vh;
  font-size: $content-textsize;
  @media only screen and (min-device-width: 750px) {
    //PC対応
    margin-top: 35vh;
  }
}
