$head-textsize: 20px;
$title-textsize: 33px;
$subtitle-textsize:28px;
$subsubtitle-textsize:24px;
$content-textsize:16px;
$head-fontcolor: #fff;
$strong-fontcolor:#EE0044;
$title-fontfamily : "Courier New";
$content_fontfamily : "Century";
$content_act_fontfamily: "serif";

.container {

  min-height: 100vh;
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  /*text-align: center;*/
  flex-direction:column;
}

//初めの100vh
#first-page{
  height:100vh;
  position:relative;
  background-image: url("/wakki.jpg");
  background-size:cover;
  background-position:50% 50% ;
  background-repeat: no-repeat;
}

.bg-mask{
  background:rgba(0,0,0,0.30);
}

#head{
  //position:fixed;
  font-family: "Century";
  width:30vw;
  height:7vh;
  p{
    color:$head-fontcolor;
    font-size: $head-textsize;
  }
}

#title{
  height:93vh;
  padding:10px;
  p{
    padding-top:40%;
    color: $head-fontcolor;
    margin:auto;
    font-size: $title-textsize;
  }
}

.arrow{
  width:100%;
  height:20vh;
  z-index:3;
  i{
    width:100%;
    height: 100%;
  }
}

//fixedなmenu-box
#menu-box{
  position:fixed;
  right:10px;
  padding:0 5px;
  bottom:20px;
  z-index: 100;
  background:rgba(255,255,255,0.3);
  li{
    padding:3px 0;
    margin-left:0;
    list-style-type: none;
    font-family:$title-fontfamily;
  }
}

//introduction↓

#introduction{
  margin-top:7vh;
}

.subtitle{
  font-size:$subtitle-textsize;
  font-family: $title-fontfamily;
  text-align:center;
  font-weight:bold;
  border-bottom:solid #000 1px;
}

.content_of_intro{
  padding-top:3px;
  padding-left:5px;
  font-size:$content-textsize;
  font-family: $content_fontfamily;
}

.name_of_intro{
  padding-left:3px;
  padding-top:10px;
  font-size:$subtitle-textsize;
  font-family:$content_fontfamily;
}

#mycareer{
  width:100%;
  padding:30px 15px 0 15px;
  font-size: $content_textsize;
  font-family: $content_fontfamily;
  td{
    border-bottom:dotted #000 1px;
  }
  .td1{
    width:20%;
  }
  .td2{
    width:80%;
    text-align:left;
  }
}

//Activity
.image{
  margin-top:7vh;
  width:100%;
  z-index:2;
  background:#FADBDA;
  img{
    display:block;
    margin:auto;
    height:auto;
    width:70%;
  }
}

#activity{
  margin-top:5vh;
}

.list_activities_title{
  margin-top:3vh;
  margin-left:3vh;
  font-size:$subsubtitle-textsize;
  background-color:#eee;
  color:$strong-fontcolor;
}

.list_activities_content{
  margin-bottom: 10vh;
  .content_title{
      margin:3vh 0 3vh 5vh;
      font-family:$content_act_fontfamily;
      font-weight:bold;
  }
  p{
    margin-left:10vh;
  }
  img{
    display:block;
    margin:auto;
  }
}

#product{
  margin-top:5vh;
}

.products_list_items{
  white-space: pre-wrap;
  word-wrap:break-word;
  width:70vw;
  height:40%;
  margin:5vh auto auto auto;
  box-shadow: 0 0 8px #95999c;
  border-radius: 8px;
  padding-bottom: 10px;
  img{
    display: block;
    height:auto;
    width:30vw;
    margin:auto;
  }
  .items_title{
    font-family:$content_act_fontfamily;
    font-weight:bold;
    text-align:center;
    padding-top:30px;
  }
  .items_contents{
    padding:10px;
  }
  .items_lang{
    text-align:center;
    padding-top:5px;
  }
}

#contact{
  margin-top:5vh;
}

.contact_list {
  margin-top: 3vh;
  list-style-type: none;
  padding:0;

  .contact_list_item {
    float: left;
    width:33%;
    padding:0 auto 0 auto;
    text-align:center;

    a{
      width:100%;
      height: 100%;
    }
  }
}

#mailaccount{
  text-align:center;
  margin-top:15vh;
  font-size:$content-textsize;
}
