$large-font-size: 3.6rem;
$medium-font-size: 2.4rem;
$small-font-size: 1.8rem;
$very-small-font-size: 1.4rem;

$bg-color: #EAECF9;
$text-base-color: #3C3C3C;
$text-gray-color: #6c6c6c;
$light-gray-color: #c4c4c4;
$deep-red-color: #D15E5E;

